# Created by .gitignore support plugin (hsz.mobi)

# Composer files
composer/*
!composer/composer.json
!composer/composer.lock

# local files
*.local.*

#IDE files
*.iml

# phpunit files
phpunit.local.xml
