# Created by .gitignore support plugin (hsz.mobi)

# IDE configuration files
*.idea
*.iml


# target folder
target/*
!target/vagrant/
target/vagrant/*
!target/vagrant/boxes/
target/vagrant/boxes/*
!target/vagrant/boxes/.gitkeep

# vagrant folder

!vagrant/machines/
vagrant/machines/*
!vagrant/machines/.gitkeep

# local files
*.local
*.local*

# dependencies
composer/*
dependencies/

